extends layout.pug

block menu
    li: a(href="{{ url_for('absences.index', yymm=yymm) }}") 欠席時対応加算記録
    li: a(href="{{ url_for('report_performlogs.report', id=id, yymm=yymm) }}",target="_blank") 印刷
    li: a(href="{{ url_for('index') }}") 一覧
    li: a(href="{{ url_for('performlogs.update', id=id, yymm=yymm) }}") 更新