extends persons/layout.pug

block title
    |メンバー一覧 - ペタペタシステム
block content
    table.table.table-hover
        thead
            tr
                th
                th 名前
                th 受給者番号
                th 利用開始日
                th(colspan="2") 支給決定日
                th(colspan="2") 適用決定日
                th 作成日
                th 更新日
                th
        tbody
            for item in items
                tr
                    td= 'レ' if item['enabled'] else ''
                    td= item['name']
                    td= item['number']
                    td= item['usestart']
                    td= item['supply_in']
                    if item['supply_over']
                        td(bgcolor="#ffffc0")= item['supply_out']
                    else
                        td= item['supply_out']
                    td= item['apply_in']
                    if item['apply_over']
                       td(bgcolor="#ffffc0")= item['apply_out']
                    else
                         td= item['apply_out']
                    td= item['create_at']
                    td= item['update_at']
                    td: .text-right
                        .btn-group
                            a.btn.btn-sm.btn-primary(href="{{ url_for('recipients.edit',id=item['id']) }}") 編集
